# WebStorm settings
.idea/

# MEGA
.debris/

# Environment variables
*.env
*.env.js

# SublimeText
*.sublime-workspace

# OS X
.DS_Store
.AppleDouble
.LSOverride
._*
Icon

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Logs
npm-debug.log
.nyc_output/

# SASS
*.sass-cache
inline

# Node.js modules
node_modules/

# TEMP
temp/
tmp/

# build
dist/
